#home {
	background-size: cover;
	background-repeat: no-repeat;
}

a.list-group-item {
	color:blue;
	opacity: .9;
}

h4.list-group-item-heading {
	color: red !important;
}

.img-thumbnail {
	margin: 20px auto;
	height: 250;
	width: 200;
}

#services {
	padding: 30px;
	color:white;
	background-color: orange;
	font-size: 1.2em;
	font-weight: bold;
}

#form {
	padding: 30px;
	background-color: gray;
	color: orange;
	font-weight: bold;
	font-size: 1.2em;
}

.form-control {
	background-color: blue;
	color: white;
	border-color: black;
	border-width: 3px;
}

#samples {
	padding:0px;
}

body {
	color: black;
}

#sign_reg_phone {
	font-size: 2em;
}

#top {
	background-position: right;
	background-image: url('/assets/background.gif');
	background-repeat: no-repeat; 
	font-family: "Arial Black",Gadget,sans-serif;
}

#about {
	background: #4ba4d0;
}

#works{
	background: #f29e25;
}

#register{
	background: #8cc63f;
}

#mail_list {
	background: #666666;
}

#footer  {
	background: #b3b3b3;
	color: white;
}